// common stuff
@import "common/common";
@import "common/fonts";
@import "common/variables";
// views
@import "header";
@import "projects";
@import "tech";
@import "timeline";
@import "misc";
@import "writing";
@import "footer";

html {
  font-size: 15px; // affects the calculation for rems, that's why it's here, otherwise probably in the fonts.scss

  @media screen and (min-width: $breakpoint-small) {
    font-size: 17px;
  }
}

.cv-app {
  background-image: linear-gradient(to right, $light-grey 10%, whitesmoke 60%);

  // for screens != small
  @media screen and (min-width: $breakpoint-small) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 1rem;
  }
}
