@import "common/variables";

footer {
  .social {
    text-align: center;
    margin-bottom: $half-general-padding;
  }

  #about-name {
    font-size: 11px;
  }

  .asterisk {
    font-size: 16px;
    color: $accent-color;

    vertical-align: sub;
    line-height: 0.1; // due to vertical-align this needs to be smaller than the value inherited, in order not to leave bigger line gaps
  }

  @media screen and (min-width: $breakpoint-small) {
    grid-column: 2/7;
    grid-row: 8/9;

    h1 {
      text-align: center;
    }

    #about-name {
      text-align: center;
    }
  }
}