@import "common/variables";

footer {
  .social {
    display: flex;
    justify-content: space-between;

    a {
      font-size: 20px;
      color: $dark-grey;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}