// my stuff
@import "common/fonts";
@import "common/variables";

header {
  h1 {
    @include title-font;
    text-align: center;
    font-size: 23px;
    margin: 20px 0 10px 0;
    width: 210px; // this is in order to avoid resizing the container when the dynamic content (audio) is loaded
  }

  h2 {
    @include general-font;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 0;
  }

  .pronunciation{
    display: none;
    font-size: 15px;
  }

  .typed-strings {
    display: none;
  }

  .blink-me {
    animation: blinker 0.8s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}