@import "common/fonts";
@import "common/variables";

header {
  text-align: center;
  width: 100%;

  a {
    text-decoration: none;
  }

  h1 {
    margin: $general-padding 0 $half-general-padding 0;
    font-size: 30px;
  }

  div {
    @include general-font;
    line-height: 1.5;
    margin-bottom: 0;
  }

  .typed-strings {
    display: none;
  }

  .blink-me {
    animation: blinker 0.8s linear infinite;
    color: $turquoise;

    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }
  }

  @media screen and (min-width: $breakpoint-small) {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
  }
}