@import "common/variables";

.misc {
  .emoji {
    vertical-align: middle;
  }

  .snowboard:before {
    content: "\01F3C2";
  }

  .surf:before {
    content: "\01F3C4";
  }

  .tennis:before {
    content: "\01F3BE";
  }

  .drums:before {
    content: "\01F941";
  }

  iframe {
    width: 100%;
    height: 200px;
    opacity: 0.6; // to make it stand out less

    padding: 0 $half-general-padding 0 $half-general-padding;
    box-sizing: border-box;
  }

  @media screen and (min-width: $breakpoint-small) {
    grid-column: 3/6;
    grid-row: 6/8;
  }
}