@import "common/variables";

.misc {
  .snowboard:before {
    content: "\01F3C2";
  }

  .surf:before {
    content: "\01F3C4";
  }

  .tennis:before {
    content: "\01F3BE";
  }

  .drums:before {
    content: "\01F941";
  }

  iframe {
    width: 100%;
    height: $small-card-height;
    opacity: 0.9; // to make it stand out less

    padding: 0 $general-padding 0 $general-padding;
    box-sizing: border-box;
  }

  @media screen and (min-width: $breakpoint-small) {
    grid-column: 3/6;
    grid-row: 6/8;

    h1 {
      text-align: left;
      padding-left: $general-padding;
    }

    iframe {
      height: $large-card-height;
    }
  }
}