@import "common/variables";
@import "common/fonts";

.projects {
  h1 {
    margin-bottom: 10px;
  }

  // small devices
  @media screen and (max-width: $breakpoint-small) {
    .examples {
      display: flex;
      flex-direction: column;

      padding: 0;

      .custom-card {
        position: relative;
        height: 200px;
        background-size: cover;
        margin: 0 0 10px 0;
        // applying a 0 padding on last-child won't work correctly here because we re-arrange the children with flexbox
        // justify-content on the container would not work as well without setting a fixed height on the container.
      }

      #timetrckr {
        order: 1;
        background-image: url("/assets/timetrckr.jpg");
      }

      #oceania-2017 {
        order: 2;
        background-image: url("https://github.com/spygi/oceania-2017/blob/master/out.gif?raw=true");
      }

      #cv-app {
        order: 3;
        background-image: url("/assets/mirror.png");
      }

      .info {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: whitesmoke;
        font-size: 13px;
        background-image: linear-gradient(to bottom, transparent 1%, black 80%);
        padding: 0 10px 0 10px;
      }

      .tech {
        margin-top: 10px;
      }
    }
  }

  // big devices
  @media screen and (min-width: $breakpoint-small) {
    .examples {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 1rem;

      .custom-card {
        background-color: $dark-grey;
        padding: 1rem;

        // flexbox would be more appropriate here maybe
        &:nth-child(1) {
          grid-area: 1 / 1 / 2 / 4;
        }

        &:nth-child(2) {
          grid-area: 1 / 4 / 2 / 6;
        }

        &:nth-child(3) {
          grid-area: 2 / 1 / 3 / 3;
        }

        &:nth-child(4) {
          grid-area: 2 / 3 / 3 / 6;
        }
      }
    }
  }
}