@import "common/variables";

.writing {
  .construction:before {
    content: '\01F6A7';
  }

  @media screen and (min-width: $breakpoint-small) {
    grid-column: 2/4;
    grid-row: 6/7;

    h1 {
      text-align: left;
    }
  }
}