<!doctype html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-55782776-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-55782776-2');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal website</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <link rel="stylesheet" href="node_modules/normalize.css/normalize.css">
    <link rel="stylesheet" href="dist/css/app.css">
    <link rel="icon" type="image/png" href="assets/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <meta property="og:title" content="Spyros' personal website">
    <meta property="og:image" content="assets/logo.png">
    <meta property="og:description" content="Spyros' personal website">
    <meta property="twitter:card" content="summary_small_image">
    <meta property="twitter:description" content="Spyros' personal website">
</head>

<body>
<div class="cv-app">
    <header>
        <h1>hi there, I am Spyros<a href="#about-name">*</a></h1>
        <div><span class="other-stuff"></span>
            <div class="typed-strings">
                <span>When I was a child, I wanted to become batman</span>
                <span>Instead I became a software engineer</span>
                <span>I also play drums ^300 and snowboard</span>
                <span>I can talk to computers <i>and</i> humans</span>
            </div>
        </div>
    </header>

    <section class="timeline">
        <h1>a timeline</h1>
        <div id="timeline-placeholder"></div>
        <div class="social">
            See <a href="https://www.linkedin.com/in/spyrosgiannakakis" target="_blank">Linkedin <i
                class="fab fa-linkedin-in"></i></a> for more details. <br/>
            Or <a href="assets/cv.pdf" target="_blank">click here</a> for a traditional CV.
                <span class="todo">My career path has been a lil' bit "unconventional", I have written about it
                    <a href="https://www.medium.com/@spygi" target="_blank">here
                        <i class="fab fa-medium-m"></i></a>.
                </span>
        </div>
    </section>

    <section class="tech">
        <h1>my tech graph</h1>
        <span class="click-on-me"> pssst! click on me </span>
        <svg></svg>
    </section>

    <section class="projects">
        <h1>some side-projects</h1>
        <div class="examples">
        </div>
        <div class="more-links">
            See more on
            <a href="https://www.github.com/spygi" target="_blank">Github <i class="fab fa-github"></i>
            </a>
        </div>
    </section>

    <section class="writing">
        <h1>a lil' writing</h1>
        <div>I have recently picked up writing. See <a href="https://www.medium.com/@spygi" target="_blank">Medium
            <i
                    class="fab fa-medium-m"></i></a> for topics like tech architecture, self management, hiring etc
            (coming soon!)
            For code or configuration samples and whatever I am learning right now, check my <a
                    href="https://tech.spygi.me"
                    target="_blank">Jekyll blog <i
                    class="fas fa-pencil-alt"></i></a> or <a href="https://www.codepen.io/spygi" target="_blank">Codepen
                <i class="fab fa-codepen"></i>
            </a> Be warned though! Most of the material there is experimental <i class="emoji construction"></i>and will
            evolve over time.
            <s>Sometimes</s> Rarely, I
            Q&A in <a href="https://stackoverflow.com/users/2259743/spygi" target="_blank">StackOverflow
                <i class="fab fa-stack-overflow"></i></a>
        </div>
    </section>

    <section class="misc">
        <h1>and the rest</h1>
        <div>I like sports <i class="emoji snowboard"></i> <i class="emoji surf"></i> <i class="emoji tennis"></i>
            and music. Here I am, playing the <i class="emoji drums"></i>at a jam session.
        </div>
        <iframe src="https://www.youtube.com/embed/zy7CuoHEytk" frameborder="0" allow="encrypted-media"
                allowfullscreen></iframe>

        <div>And <a href="https://www.youtube.com/vRry1O6f6Ng" target="_blank">another one</a> (for you rock fans out
            there).
            Check my channel on <a
                    href="https://www.youtube.com/user/sPydru" target="_blank">Youtube <i
                    class="fab fa-youtube"></i></a> for more.
        </div>
    </section>

    <footer>
        <h1>contact</h1>
        <div class="social">
            Get in touch on <a href="https://www.twitter.com/spy_gi" target="_blank">Twitter <i
                class="fab fa-twitter"></i></a>
        </div>

        <div id="about-name">
            <span class="asterisk">*</span>
            <span>I recently discovered my name actually <a
                    href="https://en.wikipedia.org/wiki/Spiro_(name)"
                    target="_blank">means something</a>. And if you are wondering, this is <a href=""
                                                                                              onclick="return false;"
                                                                                              class="pronunciation">how
                it's
                pronounced </a><i
                    class="fas fa-volume-up "></i>
            </span>
        </div>
    </footer>
</div>

<script type="text/template" id="long-work-template">
    <div class="meta">
        <span class="title-company"><%- title%>, <a href="<%- link%>"><%- company%></a></span>
        <span class="dates-location"><%- dates%>, <%- location%></span>
    </div>
    <span class="description"><%- description%></span>
</script>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/underscore/underscore.js"></script>
<script src="node_modules/backbone/backbone.js"></script>
<script src="node_modules/typed.js/lib/typed.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script> <!-- exposes a d3 global -->

<script src="js/models/projectModel.js"></script>
<script src="js/collections/projectCollection.js"></script>
<script src="js/views/projectView.js"></script>
<script src="js/views/tech.js"></script>
<script src="js/views/timeline.js"></script>
<script src="js/views/header.js"></script>
<script src="js/views/footer.js"></script>

<script src="js/views/app.js"></script>
<script src="js/app.js"></script>

</body>
</html>
