<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Spyros</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/app.css">
</head>
<body>
<div id="cv-app">
    <aside>
        <header>
            <img class="rounded-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAV9AAAAJDQ0ZmNiYzk1LTJlY2EtNGEyYi1iNzk0LWE0NWVlNzE1ZjRlOA.jpg">
            <h1>Spy Gi</h1>
        </header>
        <nav id="navigation">
            <a href="#work">Work</a>
            <a href=""></a>
            <a href=""></a>

            <div>Work Experience</div>
            <div>Education</div>
            <div>Further education</div>
            <div>Hobbies</div>
        </nav>
    </aside>

    <section id="details">
        HELLO
        <!--<header><%= section.title%></header>-->
    </section>
</div>

<footer>
    <p><a href="https://www.about.me/spygi">About me</a></p>
</footer>
<!--<script type="text/template" id="section-template">-->
<!--<div class="view">-->
<!--<input class="toggle" type="checkbox" <%- completed ? 'checked' : '' %>>-->
<!--<label><%= title %></label>-->
<!--<button class="destroy"></button>-->
<!--</div>-->
<!--<input class="edit" value="<%= title %>">-->
<!--</script>-->


<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/backbone/backbone.js"></script>
<!--<script src="js/models/todo.js"></script>-->
<!--<script src="js/collections/todos.js"></script>-->
<!--<script src="js/views/todo-view.js"></script>-->
<!--<script src="js/views/app-view.js"></script>-->
<!--<script src="js/routers/router.js"></script>-->
<!--<script src="js/app.js"></script>-->
</body>
</html>
