<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spy Gi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/app.css">
</head>
<body>
<div id="cv-app">
    <aside>
        <header>
            <img class="rounded-circle"
                 src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAV9AAAAJDQ0ZmNiYzk1LTJlY2EtNGEyYi1iNzk0LWE0NWVlNzE1ZjRlOA.jpg">
            <h1>Spyros Giannakakis</h1>
        </header>
        <nav id="navigation">
            <a href="#work"><span class="fa fa-briefcase icon" aria-hidden="true"></span>Work</a>
        </nav>
    </aside>

    <section class="work">
        <a href="https://www.linkedin.com/in/spyrosgiannakakis/" class="read-more">
            Read more <img src="assets/linkedin.png" class="linkedin-logo" height="20px" alt="Linkedin">
        </a>
    </section>

    <footer>
        <p><a href="https://www.about.me/spygi">About me</a></p>
    </footer>
</div>

<script type="text/template" id="short-work-template">
    <div class="meta"><%- title%>, <%- company%></div>
</script>

<script type="text/template" id="long-work-template">
    <div class="meta">
        <span class="title"><%- title%></span>,&nbsp;<a href="<%- link%>" class="company"><%- company%></a>
        <span class="fa fa-briefcase icon" aria-hidden="true"></span>
        <span class="space"></span>
        <span class="dates-location"><%- dates%>, <%- location%></span>
    </div>
    <span class="description"><%- description%></span>
</script>


<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/underscore/underscore.js"></script>
<script src="node_modules/backbone/backbone.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>

<script src="js/models/work.js"></script>
<script src="js/collections/works.js"></script>
<script src="js/views/work.js"></script>
<script src="js/views/app.js"></script>
<script src="js/app.js"></script>

<script src="https://use.fontawesome.com/03512c394f.js"></script>
</body>
</html>
