@import "variables";

@mixin general-font() {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  color: $dark-grey;
}

@mixin title-font() {
  font-family: 'Nunito Sans', sans-serif;
  color: $orange;
  letter-spacing: 2px;
}
