<svg class="timeline-template" width="100%" height="320" viewBox="0 70 365 320">
    <defs>
        <linearGradient id="MyGradient" x1="70" y1="100" x2="70" y2="600" gradientUnits="userSpaceOnUse">
            <!--hue doesn't really work here-->
            <stop offset="-1" stop-color="hsl(255, 77%, 38%)"/>
            <stop offset="1" stop-color="hsl(324, 77%, 70%)"/>
        </linearGradient>
    </defs>

    <line x1="70" y1="81" x2="70" y2="82" stroke="url(#MyGradient)" stroke-width="2"/>
    <line x1="70" y1="87" x2="70" y2="89" stroke="url(#MyGradient)" stroke-width="2"/>
    <line x1="70" y1="93" x2="70" y2="96" stroke="url(#MyGradient)" stroke-width="2"/>
    <line x1="70" y1="100" x2="70" y2="380" stroke="url(#MyGradient)" stroke-width="2"/>

    <text x="20" y="155" class="stop first">2016</text>
    <circle cx="70" cy="150" r="3" class="stop first"></circle>
    <use class="stop first work" transform="translate(75, 142) scale(0.04)"
         xlink:href="../assets/briefcase.svg#briefcase"></use>
    <text x="120" y="155" class="stop first">CTO, doodle.com</text>

    <text x="20" y="230" class="stop second">2013</text>
    <circle cx="70" cy="225" r="3" class="stop second"></circle>
    <use class="stop second work" transform="translate(75, 217) scale(0.04)"
         xlink:href="../assets/briefcase.svg#briefcase"></use>
    <text x="120" y="230" class="stop second">Software Engineer, doodle.com</text>

    <text x="20" y="272" class="stop third">2012</text>
    <circle cx="70" cy="267" r="3" class="stop third"></circle>
    <use class="stop third work" transform="translate(75, 245) scale(0.04)"
         xlink:href="../assets/briefcase.svg#briefcase"></use>
    <text x="120" y="258" class="stop third">Software Engineer, dacuda.com</text>
    <use class="stop fourth study" transform="translate(75, 267) scale(0.04)"
         xlink:href="../assets/graduation-cap.svg#graduation"></use>
    <text x="120" y="280" class="stop fourth">MSc. Computer Science, ETHZ</text>

    <text x="20" y="355" class="stop fifth">2009</text>
    <circle cx="70" cy="350" r="3" class="stop fifth"></circle>
    <use class="stop fifth study" transform="translate(75, 342) scale(0.04)"
         xlink:href="../assets/graduation-cap.svg#graduation"></use>
    <text x="120" y="355" class="stop fifth">Dipl. Electrical Engineering, NTUA</text>
</svg>