@import "fonts";

section {
  @include general-font;

  h1 {
    margin: 0px;
    padding: 20px 0 10px 0;

    @include title-font;
    font-size: 20px;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:visited {
      color: inherit;
    }

    &:hover {
      text-decoration: underline dashed $orange;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}