@import "fonts";
@import "variables";

section, header {
  @include general-font;
  padding: 20px 0 10px 0;
  margin-bottom: 1px solid $dark-grey;

  h1 {
    margin: 0px;

    @include title-font;
    font-size: 20px;
    text-align: center;
  }

  a {
    text-decoration: underline solid $turquoise;
    text-decoration-skip-ink: none;
    color: inherit;

    i {
      text-decoration-line: none;
      color: $turquoise;
    }

    &:visited {
      color: inherit;
    }

    &:hover {
      text-decoration: $turquoise double underline;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}