@import "variables";

@mixin general-font() {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  color: $dark-grey;
  line-height: 1.4;

  @media screen and (min-width: $breakpoint-small) {
    line-height: 1.6;
  }
}

@mixin title-font() {
  font-family: 'Nunito Sans', sans-serif;
  color: $turquoise;
  letter-spacing: 1px;
  font-size: 23px;
  font-weight: 500;

  @media screen and (min-width: $breakpoint-small) {
    font-size: 25px;
  }
}
